
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@700&display=swap');

html, body {
    margin: 0;
}

/*********** 
  Typography
 ********** */


/*********** 
   Styling
 ***********/

 body{
    background-color: #39198f;
    color: #fff;
 }

h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
   border: 1px solid red;
   max-width: 390px;
   margin: 0 auto;
   text-align: center;
 }

.endorsement-section{
   border: 1px solid yellow;
   max-width: 320px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

 .endorsement-field, .publish-btn {
   border: 1px red solid;
   margin: 0 20px;
}
.endorsement-field {
   vertical-align: top;
   padding: 5px 10px 100px 10px;
   margin-bottom: 10px;
   max-width: 320px;
   height: 20px;
   resize: none;
   overflow: hidden;
}

.publish-btn {
   padding: 15px;
}

.img-icon {
   max-width: 90px;
   margin: 0 auto;
}

